
.essayFilter {
  display: flex;
  justify-content: right;
  flex-direction: row; 
  margin-bottom: 20px;
  margin-right: 40px;
  gap: 70px; 
}

.essayFilter button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.essayFilter button:hover {
  background-color: #333935;
}
