.series-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: white;
}

.series-thumbnail {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.series-info {
  flex: 1;
}

.series-title {
  font-weight: bold;
}

.series-author {
  color: #777;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
  text-decoration: underline;
}

.pagination .disabled {
  pointer-events: none;
  color: grey;
}

.seriesSearchContainer {
  width: 72%;
  margin-left: 255px;
  color: white;
}


.seriesSearchTitle {
  padding-left: 323px;
}

.noneResult {
  padding-left: 30px;
}