.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
  text-decoration: underline;
}

.pagination .disabled {
  pointer-events: none;
  color: grey;
}

.userSearchContainer {
  width: 72%;
  margin-left: 255px;
  color: white;
}

.userItem {
  color: white;
}

.userSearchTitle {
  padding-left: 323px;
}

.noneResult {
  padding-left: 30px;
}