.react-calendar__tile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emotion-image {
  position: absolute;
  bottom: 2px;
  right: 7px;
  width: 35px;
  height: 35px;
}

.react-calendar__month-view__days__day {
  color: black;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__navigation button {
  color: black;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a5b4c7;
  border-radius: 5px;
  font-family: "IBM Plex Sans KR", sans-serif;
  line-height: 1.125em;
}
