.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background-color: white;
  border-radius: 8px;
  padding: 60px 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px #444;
}
.login-button {
  width: 80%;
  margin: 20px 0;
}
.link {
  text-decoration-color: #42526e;
  text-underline-offset: 4px;
  color: #42526e;
  cursor: pointer;
}
.social-login {
  margin-top: 15px;
}

.login-msg {
  color: #fd7170;
}

hr {
  width: 100%;
}
