.frame {
  border: 8px solid #d9e4e9;
}

.login-div {
  margin-top: 100px;
  height: 80px;
}

.logo {
  margin: 0 15px;
  font-size: 120px;
  font-weight: 400;
  color: #d9e4e9;
  /* padding: 5px 20px; */
  /* color: #aab8c2; */
  /* color: #6b7b8c; */
  /* color: #42526e; */
  /* color: #233040; */
}

.login-hover {
  font-weight: 600;
  cursor: pointer;
  font-size: 30px;
  color: #d9e4e9;
  display: inline-block;
  position: relative;
}

.login-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background: #d9e4e9;
  transform-origin: bottom right;
  transition: transform 0.14s ease-out;
}

.login-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
