/* UserFeed.css */
.empty-feed-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #333;
  /* margin: 5px; */
}
