.diary-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
}

.diary-create-form h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.diary-create-form form {
  width: 100%;
}

.diary-create-form form div {
  margin-bottom: 15px;
}

.diary-create-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  /* width: 100px; */
}

.diary-create-form input[type="text"],
.diary-create-form textarea,
.diary-create-form input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.diary-create-form input[type="radio"] {
  margin-right: 5px;
}

.diary-create-form .radio-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin: 10px 0;
}

.toggle-switch {
  display: flex;
  align-items: center;
}

.toggle-switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.toggle-switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: #d6d6d6;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-switch label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle-switch input:checked + label {
  background: #4caf50;
}

.toggle-switch input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle-switch label:active:after {
  width: 27px;
}

.diary-update-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.save-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color: #4caf50;
  color: white;
}

.save-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.cancel-button:hover {
  background-color: #e53935;
}

.diary-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

.diary-view img {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.diary-view h2 {
  text-align: center;
}

.diary-view .button-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}